<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaS1DJs6X-W7hHc2zAk6iSy9-7Ap8p42s</string>
	<key>GCM_SENDER_ID</key>
	<string>366896137054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentUniServices2</string>
	<key>PROJECT_ID</key>
	<string>students-university-servies-s</string>
	<key>STORAGE_BUCKET</key>
	<string>students-university-servies-s.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366896137054:ios:23e3cd21105e05b5a445cf</string>
	<key>DATABASE_URL</key>
	<string>https://students-university-servies-s-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>